* {
  box-sizing: border-box;
}

body {
  background-color: #023e8a;
  color: #00b4d8;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #00b4d8;
}

.nav-link {
  list-style: none;
  margin: 10px;
  cursor: pointer;
}

.nav-link:hover {
  opacity: .5;
}

section {
  margin-left: 65px;
}

.img-container {
  margin-right: 15px;
}

.thumbnail {
  margin-top: 20px;
}

.img-link, .img-link2, .img-desc {
  font-size: 25px;
}

.img-link:hover, .img-link2:hover {
  opacity: .5;
}

form {
  width: 40%;
}

input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid #ade8f4;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 400px;
}

label {
  display: block;
}

input:focus {
  border: 1px solid #0077b6;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

textarea {
  width: 400px;
	height: 80px;
	border: 1px solid #ade8f4;
	padding: 5px;
}

textarea:focus {
  border: 5px solid #0077b6;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: #0077b6;
}

button:hover {
  opacity: .5;
}
      
.nav-link-active {
  color:#caf0f8;
}