* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  /* margin-bottom: 20px; */
}

body {
  background-color: #023e8a;
  color: #00b4d8;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-top: 10px;
}

h3 {
  font-size: 1.75em;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #00b4d8;
}

/* header styles */
header {
  display: grid;
  grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
  padding: 10px;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #00b4d8;
  color: #023e8a;
  z-index: 999;
}

header h1 {
  grid-column: 2 / 3;
  color: #023e8a;
}

nav {
  all: unset;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin-left: 15px;
  color: #023e8a;
}


nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 1em;
  margin-bottom: 0;
}

.nav-link {
  margin-left: 15px;
  color: #023e8a;
  list-style: none;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
}

.nav-link:hover {
  opacity: .5;
}

.nav-link-active {
  color:#caf0f8;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

/*==================*/
/* my work styles */
/*==================*/
.port {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.port h2 {
  grid-column: 2 /3;
}

.port a {
  text-decoration: none;
  padding: 5px;
}

.port a:hover {
  opacity: .5;
}

.port-grid {
  grid-column: 2 / span 3;
}

.img-container {
  margin-right: 15px;
  width: 100%;
  position: relative;
}

.thumbnail {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.img-desc {
  font-size: 25px;
}

.img-link, .img-link2 {
  position: absolute;
  opacity: 0;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 8%;
}

.img-link {
  top: 35%;
  left: 25%;
}

.img-link2 {
  top: 37%;
  right: 25%;
}

.img-container:hover .img-link,
.img-container:hover .img-link2 {
  opacity: 100%;
}

/*=====================*/
/* contact styles */
/*=====================*/
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.contact-grid h2 {
  grid-column: 2 /3;
}

form {
  grid-column-start: 2;
  margin-top: 15px;
  width: 100%;
}

input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid #ade8f4;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 100%;
}

label {
  display: block;
  font-size: 1.5rem;
}

input:focus {
  border: 1px solid #0077b6;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

textarea {
  width: 100%;
	height: 20%;
	border: 2px solid #ade8f4;
	padding: 5px;
}

textarea:focus {
  border: 2px solid #0077b6;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
  outline: none;
}

.error-text {
  color: red;
  font-size: larger;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: .5em 0;
  background-color: #0077b6;
}

button:hover {
  opacity: .5;
}

.my-info {
  font-size: 1.5rem;
  margin-top: .75em;
  grid-column-start: 2;
}

/*=====================*/
/* about me styles */
/*=====================*/
section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

section h2 {
  grid-column: 2 / 3;
}

.me {
  grid-column-start: 2;
  height: auto;
  width: 100%;
  margin-top: 15px;
}

.about-text {
  grid-column: 2 / 5;
  font-size: 1.5em;
}

/*=====================*/
/* resume styles */
/*=====================*/
.resume {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.resume h2 {
  grid-column-start: 2;
}

.dl-resume {
  display: flex;
  grid-column: 2 / 6;
  font-size: 1.75em;
}

.dl-resume a {
  text-decoration: underline;
  margin-left: 5px;
}

.dl-resume a:hover {
  opacity: 0.5;
}

.front-end {
  grid-column: 2 / 3;
  width: 100%;
}

.back-end {
  grid-column: 4 / 5;
  width: 100%;
}

.front-end h3,
.back-end h3 {
  margin: 15px 0 15px 0;
}

.resume li {
  font-size: 1.25em;
}

/*=====================*/
/* footer styles */
/*=====================*/
.footer {
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00b4d8;
}

.footer-link {
  height: 50px;
  margin: 10px;
}

.footer-link:hover {
  opacity: 0.5;
}
/*===============*/
/*Home styles*/
/*===============*/
.welcome {
  text-align: center;
  margin-top: 50px;
  font-size: 75px;
}

@keyframes counter-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes clock {
  from {
    transform: rotateX(360deg) rotateY(360deg);
  }
  to {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.animation,
.animation2 {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.animation {
  animation-name: counter-clock;
  animation-duration: 20s;
  background-color: #0077b6;
  animation-direction: reverse;
  margin: 100px auto;
}

.animation2 {
  animation-name: clock;
  animation-duration: 10s;
  background-color: #00b4d8;
  margin: auto;
}


.space {
  height: 15vh;
}

@media screen and (max-width: 770px) {
  /*==================*/
  /*global styles*/
  /*==================*/
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
    font-weight:900
  }

  /*==================*/
  /*home styles*/
  /*==================*/
  .welcome {
    font-size: 75px;
  }

  

  /*==================*/
  /*header styles*/
  /*==================*/
  header {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;;
    width: 100%;
    margin-left: 0;
    grid: 1 / 5;
  }
  
  .title {
    padding: 5px 0 5px 0;
    grid-column: 2 / 3;
  }

  nav {
    position: absolute;
    grid-column: 1 / 6;
    text-align: left;
    top: 100%;
    left: 0;
    margin-left: 0;
    padding: 0;
    background: #00b4d8;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 150ms ease-in-out;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 0;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .nav-toggle-label {
    margin-left: 1em;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    justify-items: right;
    background: #023e8a;
    height: 2px;
    right: 5;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }
  
  /*==================*/
  /*about me styles*/
  /*==================*/
  section {
    grid-template-columns: 1fr 5fr 1fr;
  }

  section h2 {
    grid-column: 2 / 3;
  }
  .me {
    grid-column: 2 / 3;
    width: 60%;
    margin-bottom: 10px;
  }

  .about-text {
    grid-column: 2 / 3;
    font-size: 18px;
  }

  /*==================*/
  /*resume styles*/
  /*==================*/
  .dl-resume p {
    font-size: 18px;
  }
  
  .resume a {
    font-size: 18px;
  }
  
  .back-end {
    grid-column: 2 / 3;
  }
  
  .resume li {
    font-size: 18px;
  }

  /*==================*/
  /*my work styles*/
  /*==================*/
  .port {
    grid-template-columns: 1fr 7fr 1fr;
  }

  .port-grid {
    grid-column: 2 / 3;
  }

  .port-grid p,
  .port-grid a {
    font-size: 20px;
  }

  .img-link, 
  .img-link2 {
    all: unset;
  }

  .img-link a img, 
  .img-link2 a img {
    height: 40px;
  }

  .port-grid a {
    text-decoration: underline;
  }
}

@media screen and (max-width: 500px) {
  .home {
    display: flex;
    align-items: flex-start;
  }    

  .welcome {
    font-size: 50px;
  }
}

@media screen and (max-width: 350px) {
  .welcome {
    font-size: 25px;
  }

  .dl-resume p span {
    display: none;
  }

  .dl-resume p::after {
    content: "Download here:";
  }

  .dl-resume a {
    grid-column: 3 / 4;
    display: flex;
    margin-right: 20px;
    align-items: flex-end;
  }
}